<h1 align="center">Listing all categories</h1>
<div align="center"><%= link_to "Add new category", new_category_path, class: "btn btn-sm btn-primary"%></div>
<br>
<%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
<%= render 'categories', obj: @categories %>
<%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>