<footer  class="footer">
	<div class="container">
		<small>
		Copyright &copy;, 2019. <%= link_to 'ALPHA BLOG', root_path%> &reg;
	</small>
	<ul>
		<li>
			<%= link_to 'Home', root_path %> | 
		</li>
		<li>
			<%= link_to 'Articles', articles_path %>
		</li>
	</ul>
	</div>
</footer>